body {
    margin: 48px 56px;
    font-family: Helvetica, sans-serif;
}

.header {
    display: flex;
    border-bottom: 2px solid rgb(0, 0, 0);
}

ul {
    color: rgb(0, 153, 0);
    margin-left: auto;
}

ul li {
    display: inline-block;
    margin: 14px;
}

main {
    line-height: 1.5;
}

.title {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 0px;
}

p {
    padding: 0px;
}


