main {
    width: 700px;
    height: 500px;
    margin: 60px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.new {
    position: absolute;
    top: -200px;
    right: 150px;
    transform: translate(-70px, 140px);
}