main {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

section {
    width: 280px;
    height: 150px;
    background-color: lightgray;
    border-radius: 3px;
    padding: 24px 12px 24px 12px;
    border: 1px solid black;
    position: relative;
    
}

form {
    display: grid;
    justify-items: flex-start;
}

span{
    display: block;
    margin: 10px;
    width: 100%;
}

label {
    font-weight: bold;
    letter-spacing: -0.2;
}

input {
    width: 66%;
}



button {
    display: inline-block;
    margin: 10px;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    border: 1px solid black;
    cursor: pointer;
}

.login {
    width: 36%;
    background-color: white;
    padding: 4px 8px 4px 8px;
    border: 1px solid black;
    position: absolute;
    left: 0px;
    top: -15px;
}

.picture1, .picture2 {
    display: inline-block;
}

.icon1 {
    width: 100%;
    background-image: url('screenshots/user-solid.svg');
    background-repeat: no-repeat;
   background-size: 14px 14px;
   overflow: hidden;
 
}

.icon2 {
    width: 100%;
    background-image: url('screenshots/key-solid.svg');
    background-repeat: no-repeat;
   background-size: 14px 14px;
   overflow: hidden;
}

.icon1:focus, .icon2:focus {
    background-image: unset;
    background: lightgreen;
}
